* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
}

/*   task - 1  */
#categories{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  width: 392px;
  padding: 16px;
  background: #f6f6fe;
  border-radius: 8px;
}
.item h2{
  margin-bottom: 16px;
}
.item ul{
  display: flex;
  flex-direction:  column;
  gap: 10px;
}
.item ul > li{
  display: flex;
  align-items: center;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding-inline-start: 16px;
}
/*   task - 1  */

.login-form {
  display: flex;
  /*flex-direction: column;*/

}