* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

input,
input:active{
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
}

input:hover{
  border: 1px solid #000;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

button {
  cursor: pointer;
  color: #fff;
  background: #4e75ff;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 120px;
  height: 40px;
}
button:hover{
  background: #6c8cff;
}

/*   task - 1  */
#categories{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  width: 392px;
  padding: 16px;
  background: #f6f6fe;
  border-radius: 8px;
}
.item h2{
  margin-bottom: 16px;
}
.item ul{
  display: flex;
  flex-direction:  column;
  gap: 10px;
}
.item ul > li{
  display: flex;
  align-items: center;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
}
/*  end of task - 1  */

/*   task - 2  */
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px 24px;
  width: 1128px;
}
img{
  object-fit: cover;
  height: 300px;
  width: 360px;
}
/*  end of task - 2  */

/*   task - 3  */
#name-input{
  display: flex;
  font-size: 16px;
  letter-spacing: 0.04em;
  padding-left:  16px;
  margin-bottom: 16px;
}
#name-input::placeholder{
  color: #2e2f42;
}
/*   end of task - 3  */
/*   task - 4  */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login-form label{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form button{
  margin-top: 8px;
}

/*   end of task - 4  */
/*    task - 5  */
.widget{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:16px;
}
/*   end of task - 5  */
